---
layout: base
---
<section class="intro">
  <img class="portrait" src="{{ '/images/headshot2.jpg' | relative_url }}" alt="Portrait of Aakarsh Anand" width="864" height="863">
  <div class="intro-text">
    {{ page.intro | markdownify }}
  </div>
</section>

<section class="research">
  {{ content }}
</section>

<section>
  <h2>News</h2>
  <ul class="news">
    {%- for item in site.data.news %}
    <li><time datetime="{{ item.date | date: '%Y-%m-%d' }}">{{ item.date | date: "%b %Y" }}</time><span>{{ item.text | markdownify | remove: '<p>' | remove: '</p>' | strip }}</span></li>
    {%- endfor %}
  </ul>
</section>

<section>
  <h2>Selected publications</h2>
  <ul class="pubs">
    {%- for pub in site.data.publications %}{% if pub.selected %}{% include pub-item.html pub=pub %}{% endif %}{% endfor %}
  </ul>
  <p class="more"><a href="{{ '/publications/' | relative_url }}">All publications</a></p>
</section>
